<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Handle Authorization Header in Apache
  RewriteCond %{HTTP:Authorization} .
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # If requested file or directory exists, serve it directly
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Fallback all other routes to index.html for React SPA Routing
  RewriteRule ^ index.html [L]
</IfModule>
